<!-- start custom head snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2252180320238361"
     crossorigin="anonymous"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- Chrome, Safari, IE -->
<link rel="shortcut icon" href="/assets/img/favicon.ico">
<!-- Firefox, Opera (Chrome and Safari say thanks but no thanks) -->
<link rel="icon" href="/assets/img/android-chrome-512x512.png">


<!-- end custom head snippets -->
